.blog-posts {
  display: grid;
  grid-gap: $spaceS;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));

  @include screen("xs", "md") {
    grid-gap: $spaceXS;
  }

  .post {
    text-align: center;
    background: white;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .thumbnail {
      position: relative;
      padding-top: 56.2%;
      overflow: hidden;
      display: block;
      width: 100%;

      img {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 2s ease-out;
      }

      &:hover img {
        transform: scale(1.1);
      }
    }
    .title {
      margin-top: 23px;
      margin-bottom: 0px;
      display: block;
      text-decoration: none;
      color: inherit;
      font-size: 25px;
      font-weight: bold;
      text-align: left;
      padding: 0 18px;
      width: 100%;

      &:hover {
        color: $primary;
      }

      @include screen("xs", "sm") {
        margin-top: 13px;
        margin-bottom: 5px;
      }
    }

    .date {
      font-weight: bold;
      font-size: 12px;
      margin-top: 0;
      text-align: left;
      display: block;
      padding: 0 18px;
      width: 100%;
    }

    .description {
      margin-top: 12px;
      margin-bottom: $spaceXS;
      text-align: left;
      padding: 0 18px;
      width: 100%;
    }

    .btn {
      margin-top: auto;
    }
  }
}

.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: $spaceM;

  .pagination-link {
    font-size: 20px;
    line-height: 20px;
    padding: 10px 10px;
    display: block;
    min-width: 40px;
    text-decoration: none;
    color: inherit;

    &:hover, &.active {
      color: $primary;
    }

    &.active {
      font-weight: bold;
    }
  }
}