.btn {
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  padding: 16px 36px;
  border-radius: 48px;
  border: 0;
  cursor: pointer;
  color: white;
  background: black;
  text-decoration: none;
  text-align: center;

  &:hover {
    background: lighten(black, 5%);
  }

  &.btn-primary {
    background: $primary;

    &:hover {
      background: lighten($primary, 5%);
    }
  }

  &.btn-secondary {
    background: $secondary;

    &:hover {
      background: lighten($secondary, 5%);
    }
  }

  &.btn-tertiary {
    background: white;
    color: $secondary;

    &:hover {
      background: darken(white, 5%);
    }
  }
}

.input-text {
  width: 100%;
  margin-bottom: 18px;
  height: 40px;
  padding: 0 12px;
  border: none;
  font-size: 16px;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px $primary;
  }
}

.textarea {
  padding: 12px;
  width: 100%;
  height: 116px;
  resize: none;
  border: none;
  font-size: 16px;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px $primary;
  }
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .btn {
    margin-left: 12px;
  }
}

.checkbox-label {
  display: flex;
  align-items: flex-start;
  cursor: pointer;

  input {
    border: none;
    margin-left: 0;
    margin-top: 5px;
    margin-right: 4px;
  }
}