// Gotham Rounded
@font-face {
  font-family: "GothamRounded";
  src: url("../../dist/fonts/Gotham Rounded/GothamRounded-Bold.otf") format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: "GothamRounded";
  src: url("../../dist/fonts/Gotham Rounded/GothamRnd-Medium.otf") format("opentype");
  font-weight: medium;
}
@font-face {
  font-family: "GothamRounded";
  src: url("../../dist/fonts/Gotham Rounded/GothamRounded-Book.otf") format("opentype");
  font-weight: normal;
}
@font-face {
  font-family: "GothamRounded";
  src: url("../../dist/fonts/Gotham Rounded/GothamRnd-Light.otf") format("opentype");
  font-weight: light;
}
// Nexa
@font-face {
  font-family: "Nexa";
  src: url("../../dist/fonts/Nexa/Nexa Bold.otf") format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: "Nexa";
  src: url("../../dist/fonts/Nexa/Nexa Regular.otf") format("opentype");
  font-weight: normal;
}
@font-face {
  font-family: "Nexa";
  src: url("../../dist/fonts/Nexa/Nexa Light.otf") format("opentype");
  font-weight: light;
}