// Colors
$accent: #92211A;
$highlight: #D61F26;
$borderColor: #E6E6E6;

// Fonts
$fontBase: 'Roboto', sans-serif;
$fontGotham: "GothamRounded";
$fontNexa: "Nexa";

// Responsive breakpoints
$__breakpoint_xs: 0px;       // 0px - 479px
$__breakpoint_sm: 480px;     // 480px - 767px
$__breakpoint_md: 768px;     // 768px - 1023px
$__breakpoint_lg: 1024px;    // 1024pz - 1199px
$__breakpoint_xl: 1200px;    // 1200px - 1499px
$__breakpoint_xxl: 1500px;   // 1500px ^