// Colors
$primary: #3B41B7;
$secondary: #081427;
$tertiary: #D7DEE6;

// Spacing
$desktopPadding: 24;
$mobilePadding: 12;
$navWidth: 1580;
$containerWidth: 1244;

$spaceXS: 25px;
$spaceS: 45px;
$spaceM: 65px;
$spaceL: 85px;

// Responsive breakpoints
$__breakpoint_xs: 0px;       // 0px - 479px
$__breakpoint_sm: 480px;     // 480px - 767px
$__breakpoint_md: 768px;     // 768px - 1023px
$__breakpoint_lg: 1024px;    // 1024pz - 1199px
$__breakpoint_xl: 1200px;    // 1200px - 1499px
$__breakpoint_xxl: 1500px;   // 1500px ^