@import 'variables';
@import 'mixins';
@import 'partials/navigation';
@import 'partials/home';
@import 'partials/form';
@import 'partials/footer';
@import 'partials/blog';
@import 'partials/core_groups';
@import 'partials/cookies';

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  color: $secondary;
}

input, select, textarea, button {
  font-family: 'Titillium Web', sans-serif;
}

.container {
  @include container('content');
}

h2 {
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 25px;
}

h3 {
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 25px;
}

p {
  font-size: 16px;

  &.large {
    font-weight: bold;
    font-size: 20px;
  }
}

.collapse-content {
  .hidden {
    display: none;
  }

  &:after {
    content: "...";
  }

  &.expanded {
    .hidden {
      display: inline;
    }

    &:after {
      content: "";
    }
  }
}

a {
  color: $primary;

  &:hover {
    color: $secondary;
  }
}