@import 'typography';
@import 'variables';
@import 'mixins';
@import 'partials/navigation';
@import 'partials/footer';
@import 'partials/inputs';
@import 'partials/home';
@import 'partials/agencja';
@import 'partials/author';
@import 'partials/blog';
@import 'partials/case1';
@import 'partials/case2';
@import 'partials/case3';
@import 'partials/case4';
@import 'partials/kontakt';
@import 'partials/projekty';
@import 'partials/sklep';
@import 'partials/team';
@import 'partials/wydawnictwo';
@import 'partials/publikacje';

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

input, select, textarea, button {
  font-family: $fontBase;
}

.page {
  overflow: hidden;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
  z-index: 2;

  &.padding {
    max-width: 1648px;
    padding: 0 36px;

    @include screen("xs", "sm") {
      padding: 0 18px;
    }
  }
}

a {
  color: inherit;
}